{% extends "bases/base.html" %}

{% load custom_tags %}

{% block content %}
    <div class="m-2">
        <a class="btn btn-warning active" role="button" onClick="javascript:history.go(-1);" >Voltar</a>
    </div>

    <table class="table caption-top">
        <caption class="mx-2">Detalhes do Câmpus</caption>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th scope="row">Câmpus</th>
                    <td>{{campus.nome}}</td>
                </tr>
                <tr>
                    <th scope="row">Cursos do Câmpus</th>
                    <td>{% retornaCursosNoCampus campus %}</td>
                </tr>
                <tr>
                    <th scope="row">Alunos Vinculados</th>
                    <td>{% retornaQtdAlunosCampusPorSituacao campus 4 %}</td>
                </tr>
                <tr>
                    <th scope="row">Alunos Formados</th>
                    <td>{% retornaQtdAlunosCampusPorSituacao campus 2 %}</td>
                </tr>
                <tr>
                    <th scope="row">Alunos Jubilados</th>
                    <td>{% retornaQtdAlunosCampusPorSituacao campus 3 %}</td>
                </tr>
                <tr>
                    <th scope="row">Alunos Evadidos</th>
                    <td>{% retornaQtdAlunosCampusPorSituacao campus 1 %}</td>
                </tr>
                <tr>
                    <th scope="row">Alunos Totais</th>
                    <td>{% retornaQtdAlunosCampusPorSituacao campus %}</td>
                </tr>
        </tbody>
    </table>

    <div class="container m-auto p-4">
        <div class="table-responsive">
            <table class="table table-bordered table-striped caption-top">
                <caption>Cursos do Câmpus</caption>
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th class="d-flex justify-content-center" scope="col">Alunos Vinculados</th>
                    </tr>
                </thead>
                <tbody>
                    {% for curso in cursos %}
                        {% if curso.campus == campus %}
                            <tr>
                                <th scope="row">{{curso.nome}}</th>
                                <td class="d-flex justify-content-center">{% retornaQtdAlunosCursoPorSituacao curso 4 %}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}