{% extends "bases/base.html" %}
{% load static %}

{% load custom_tags %}


{% block content %}

        <div class="container row m-auto g-4">
            <div class="col-6 ">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Alunos</h5>
                        <p class="card-text">Quantidade de Alunos por Situação</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Vinculados: {% retornaAlunosPorSituacao 4 %}</li>
                        <li class="list-group-item">Jubilados: {% retornaAlunosPorSituacao 3 %}</li>
                        <li class="list-group-item">Formados: {% retornaAlunosPorSituacao 2 %}</li>
                        <li class="list-group-item">Evadidos: {% retornaAlunosPorSituacao 1 %}</li>
                    </ul>
                </div>
                <div>
                    <canvas class="p-1" style="width: 24vw;" id="AlunosPieChart"></canvas>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Câmpus</h5>
                        <p class="card-text">Quantidade de Alunos por Câmpus</p>
                    </div>
                    <!--Tornar isso dinâmico buscando informações no banco-->
                    <ul class="list-group list-group-flush">
                        {% for campus in campus %}
                            <li class="list-group-item">{{campus.nome}}: {{campus.retornaAlunosNoCampus}} </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <canvas class="p-1" style="width: 24vw;" id="CampusPieChart"></canvas>
                </div>
            </div>
        </div>
        <!--Tornar isso dinâmico buscando informações no banco-->
        <div class="container m-auto p-4">
            <div class="table-responsive">
                <table class="table table-bordered table-striped caption-top">
                    <caption>Cursos</caption>
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Câmpus</th>
                            <th class="d-flex justify-content-center" scope="col">Alunos Cursando</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for curso in cursos %}
                        <tr>
                            <th scope="row">{{curso.nome}}</th>
                            <td>{{curso.campus}}</td>
                            <td class="d-flex justify-content-center">{% retornaQtdAlunosCursoPorSituacao curso 4 %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



        <footer class="text-center">
            <p class="py-3">2023 <i class="bi bi-c-circle"></i> Desenvolvido para Fábrica de Software | Projeto acadêmico.</p>
        </footer>
        <script>
            var ctx = document.getElementById("AlunosPieChart");
            var qtdAlunos = [parseInt('{% retornaAlunosPorSituacao 4 %}'),parseInt('{% retornaAlunosPorSituacao 3 %}'),
            parseInt('{% retornaAlunosPorSituacao 2 %}'),parseInt('{% retornaAlunosPorSituacao 1 %}')]
            var AlunosPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Vinculados", "Jubilados", "Formados", "Evadidos"],
                datasets: [{
                data: [qtdAlunos[0], qtdAlunos[1], qtdAlunos[2],qtdAlunos[3]],
                backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
                hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                },
                legend: {
                display: false
                },
                cutoutPercentage: 80,
            },
            });
        </script>
        <script>
            var ctx = document.getElementById("CampusPieChart");
            var qtdAlunos = [parseInt('{% retornaQtdAlunosCampusPorSituacao campus.0 %}'),parseInt('{% retornaQtdAlunosCampusPorSituacao campus.1 %}'),
            parseInt('{% retornaQtdAlunosCampusPorSituacao campus.2 %}'),parseInt('{% retornaQtdAlunosCampusPorSituacao campus.3 %}'),
            parseInt('{% retornaQtdAlunosCampusPorSituacao campus.4 %}'),parseInt('{% retornaQtdAlunosCampusPorSituacao campus.5 %}'),
            parseInt('{% retornaQtdAlunosCampusPorSituacao campus.6 %}'),]
            console.log("qtdAlunos",qtdAlunos)


            var CampusPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Araguaína", "Arraias", "Gurupi", "Miracema", "Palmas", "Porto Nacional", "Tocantinópolis"],
                datasets: [{
                data: [qtdAlunos[0], qtdAlunos[1], qtdAlunos[2],qtdAlunos[3],qtdAlunos[4],qtdAlunos[5],qtdAlunos[6]],
                backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
                hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                },
                legend: {
                display: false
                },
                cutoutPercentage: 80,
            },
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>

{% endblock %}