{% extends "bases/base.html" %}
<!-- {% load static %} -->

{% load custom_tags %}


{% block content %}

        <div class="container row m-auto g-4">
            <div class="col-6">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Alunos</h5>
                        <p class="card-text">Quantidade de Alunos por Situação</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Vinculados: {{alunos.retornaAlunosVinculados}}</li>
                        <li class="list-group-item">Jubilados: {{alunos.retornaAlunosJubilados}}</li>
                        <li class="list-group-item">Formados: {{alunos.retornaAlunosFormados}}</li>
                        <li class="list-group-item">Evadidos: {{alunos.retornaAlunosEvadidos}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Câmpus</h5>
                        <p class="card-text">Quantidade de Alunos por Câmpus</p>
                    </div>
                    <!--Tornar isso dinâmico buscando informações no banco-->
                    <ul class="list-group list-group-flush">
                        {% for campus in campus %}
                            <li class="list-group-item">{{campus.nome}}: {{campus.retornaAlunosNoCampus}} </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!--Tornar isso dinâmico buscando informações no banco-->
        <div class="container m-auto p-4">
            <div class="table-responsive">
                <table class="table table-bordered table-striped caption-top">
                    <caption>Cursos</caption>
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Câmpus</th>
                            <th class="d-flex justify-content-center" scope="col">Alunos Cursando</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for curso in cursos %}
                        <tr>
                            <th scope="row">{{curso.nome}}</th>
                            <td>{{curso.campus}}</td>
                            <td class="d-flex justify-content-center">{% retornaQtdAlunosCursoPorSituacao curso 4 %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



        <footer class="text-center">
            <p class="py-3">2023 <i class="bi bi-c-circle"></i> Desenvolvido para Fábrica de Software | Projeto acadêmico.</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>

{% endblock %}