{% extends "bases/base.html" %}

{% load widget_tweaks %}

{% block content%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />


    <div class="mx-2">
        <a class="btn btn-warning my-2 active" href="cadastrar/" role="button" >Adicionar Aluno</a>
        <a class="btn btn-warning my-2 active" role="button" onClick="javascript:history.go(-1);" >Voltar</a>
    </div>


    <form action="" method="get" class="d-flex justify-content-center">
        <input class="w-50 my-2 me-2" id="consulta" name="search" type="search" placeholder="Pesquise por Aluno">
        <button class="btn btn-warning my-2 active" type="submit" style="width: 10vw;">Pesquisar <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search ms-2" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
    </form>

    {% if messages %}
        <ul class="messages d-flex justify-content-center">
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show w-25 text-center" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Câmpus</th>
                <th scope="col">Editar</th>
                <th scope="col">Detalhes</th>
            </tr>
        </thead>
        <tbody id="tabela">
            {% for aluno in object_list %}
            <tr>
                <th scope="row" >{{aluno.matricula}}</th>
                <td>{{aluno.nomeDoAluno}}</td>
                <td>{{aluno.curso}}</td>
                <td>{{aluno.campus}}</td>
                <td><a href="{% url 'edita_aluno' pk=aluno.pk %}" role="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                  </svg></a></td>
                <td><a href="{% url 'detalhes_aluno' pk=aluno.pk %}" role="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                  </svg></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- <script>
        $( function() {
          var availableTags = [
              {% for aluno in object_list %}
                  "{{aluno.nomeDoAluno}}",
              {% endfor %}
          ];
          $( "#consulta" ).autocomplete({
            source: availableTags
          });
          var itens = document.getElementsByClassName('ui-menu-item')
          console.log('elements:', itens)
        } );

    </script> -->

{% endblock %}
