{% extends "bases/base.html" %}

{% block content%}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade de Cursos no Câmpus</th>
                <th scope="col">Quantidade de Alunos no Câmpus</th>
                <th scope="col">Detalhes</th>
            </tr>
        </thead>
        <tbody>
            {% for campus in object_list %}
            <tr>
                <th scope="row">{{campus.nome}}</th>
                <td>{{campus.retornaCursosNoCampus}}</td>
                <td >{{campus.retornaAlunosNoCampus}}</td>
                <td><a href="{% url 'detalhes_campus' pk=campus.pk %}" role="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                  </svg></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
