{% extends "bases/base.html" %}

{% block content%}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade de Cursos no Câmpus</th>
                <th scope="col">Quantidade de Alunos no Câmpus</th>
            </tr>
        </thead>
        <tbody>
            {% for campus in object_list %}
            <tr>
                <th scope="row">{{campus.nome}}</th>
                <td>{{campus.retornaCursosNoCampus}}</td>
                <td >{{campus.retornaAlunosNoCampus}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
