{% extends "bases/base.html" %}

{% block content%}

    <a class="btn btn-warning my-2 col-6 d-md-block mx-auto" href="cadastrar/" role="button" >Adicionar Aluno</a>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Câmpus</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in object_list %}
            <tr>
                <th scope="row" >{{aluno.matricula}}</th>
                <td>{{aluno.nomeDoAluno}}</td>
                <td>{{aluno.curso}}</td>
                <td>{{aluno.campus}}</td>
                <td><a href="{% url 'edita-aluno' {{aluno.matricula}} %}" role="button" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                  </svg></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
